{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First App</title>
    <link rel="stylesheet" href="{% static "CSS/mystyle.css" %}"/>

</head>
<body>
    <h1>Welcome to Anime World</h1>
    <img src="{% static "images/animeImage.jpg" %}" alt="Uh oh, someting went wrong">
    <img src="{% static "images/Image.jpg" %}" alt="Uh oh, someting went wrong">
    <img src="{% static "images/Image2.webp" %}" alt="Uh oh, someting went wrong">
    <img src="{% static "images/Image3.webp" %}" alt="Uh oh, someting went wrong">
    <img src="{% static "images/Image4.jpg" %}" alt="Uh oh, someting went wrong">

</body>
</html>